name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      ref:
        description: 'The Git reference to checkout'
        required: false
        default: 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: test

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.ref }}

    - name: 'Create env file'
      run: echo "${{ secrets.ENV_FILE }}" > .env.test

    - name: Build and start Docker image
      run: docker compose --env-file=.env.test up db web -d --build

    - name: Run pytest in the API container
      run: docker exec backend pytest -n 2 --pyargs app.tests

    - name: Stop services
      run: docker-compose --env-file=.env.test down -v
